body{
    background-color: rgb(191, 233, 172);
    margin: 50px;
}

#nav{
    display: flex;
    flex-direction: column;
}

.menu_item{
    background-color: rgb(189, 206, 252);
    cursor: pointer;
    margin-bottom: 5px;
    width: 70px;
}

.menu_item .submenu{
    height: 40px;
    width: 120px;
    background-color: salmon;
    position: absolute;
    cursor: pointer;
    display: none;
}

.menu_item:hover{
    margin-bottom: 50px;
}

.menu_item:hover .submenu{
    margin-top: 5px;
    display: block;
}