@font-face {
    font-family: "PT Sans";
        src: url("font/PT_Sans/PTSans-Regular.ttf") format("woff2"),
             url("font/PT_Sans/PTSans-Bold.ttf") format("woff2"),
}

html {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background-color: #f8f8f8;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

/*HEADER*/
.header,
.header_company_logo,
.header980px,
.header_contacts {
    display: flex;
}

.header {
    color: #777777;
    width: 100%;
    height: 230px;
    background-color: #dcdcdc;
    justify-content: center;
}

.area_980px {
    width: 980px;
    align-items: center;
}

.header980px a {
    text-decoration: none;
    color: #777777;
}

.header_contacts {
    flex-direction: column;
    margin-left: auto;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header_company_name {
    margin: 10px 0 10px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_company_name h2 {
    font-weight: bold;
    font-size: 40px;
}

/*MENU*/
.menu {
    color: #dcdcdc;
    width: 100%;
    background-color: #777777;
    display: flex;
    justify-content: center;
}

.menu980px {
    display: flex;
    width: 980px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
  
}

.navigation {
    font-size: 30px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    color: #dcdcdc;
    font-family: 'PT Sans', sans-serif;
}

.navigation a:hover {
    border-bottom: 2px solid #dcdcdc;
}

.seperator {
    font-weight: 600;
    margin: 0 20px;
}

/*SLIDER*/
.slider {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    z-index: -1;
}
/*BREADCRUMBS*/
.breadcumbs{
    padding: 15px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.breadcrumbs980px{
    width: 980px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #777777;
}

.breadcrumbs980px p a{
    color: #777777;
}

.breadcrumbs980px p span{
    margin: 0 6 px;
}

/*CONTENT*/
.content{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: #777777;

}

.content_980px{
    width: 980px;
    background-color: #c0fbff;
    display: flex;
    justify-content: space-between;
}

/*SIDEBAR*/
.content_sidebar{
    font-size: 14px;
    line-height: 30px;
    height: 500px;
    background-color: #ffffff;
    font-family: 'PT Sans', sans-serif;
}

.content_sidebar ul{
    margin-bottom: 100px;
}

.sidebar_bottom_part{
    margin-left: 30px;
}

.sidebar_price_list{
    font-size: 30px;
    font-weight: 700;
}

/*ITEMS FOR SALE*/
.content_items_4_sale{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.item_4_sale{
    width: 250px;
    height: 385px;
    background-color: #d3a4ff;
    border: 1px solid cyan;

}

.item_4_sale_margin{
    margin: 20px;
}

.item_4_sale img{
    margin-bottom: 0;
}

.item_4sale_bottom_part{
    display: flex;
    justify-content: space-between;
    width: 230px;
}
/*FOOTER*/
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 220px;
    color:#eaeaea;
    background-color: #767676;
    display: flex;
    justify-content: center;
    line-height: 22px;font-weight: 400;letter-spacing: 0.025em;
}

.footer980px{
    width: 980px;
    padding:50px 0;
    display: flex;
    justify-content: space-between;
}

.footer_central_element ul li{
    margin-bottom: 5px;
}

.footer_right_element{
    display: flex;
  justify-items: flex-start;
}

.footer_right_element img{
    margin-right: 10px;
}

.footer_link a{
    color:#eaeaea;
}