@font-face {
    font-family: "PT Sans";
    src: url("font/PT_Sans/PTSans-Regular.ttf") format("woff2"),
        url("font/PT_Sans/PTSans-Bold.ttf") format("woff2"),
}

html {
    height: 100%;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    background-color: #f8f8f8;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

/*POPUP*/
body {
	margin:0;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:fixed;
	z-index:1;
	height:100%;
	width:100%;
}
	
form{
    display: flex;
    flex-direction: column;
    align-items: center;
}	
.form {
	position: relative;
	margin:0 auto;
    margin-top: 280px;
    padding-top: 35px;
	z-index:2;
	width:470px;
    height: 578px;
	background:#FFFFFF;
	border:1px solid #000000;
}

form h2{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #535353;
}

form p{
    margin: 20px 0 5px 0;
}

form input, textarea{
    outline: none;
    transition: 2s;
}

form input:focus, textarea:focus{
    border: 1px solid rgb(19, 133, 123);
}

.form input,
textarea,
input[type=text],
input[type=tel],
input[type=email]{
    width: 341px;
    height: 42px;
    background-color: #FFFFFF;
    border: 1px solid #c3c3c3;
    padding:0  10px;
}


textarea{
    height: 142px;
}

input[type=submit]{
    width: 128px;
    height: 42px;
    background-color: #777777;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    font-size: 17.8px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 20px;
}


form input:-moz-ui-invalid {
    box-shadow: none;
    /* background-color: rgb(175, 235, 167); */
    border: 1px solid #ff0000;
    box-shadow: inset 0.5px 0.5px 15px 1px rgb(255, 211, 211);
}

form input:-moz-ui-invalid::placeholder{
    color: red;
    font-style: italic;
}

/*HEADER*/
.header,
.header_company_logo,
.header980px,
.header_contacts {
    display: flex;
}

.header {
    color: #777777;
    width: 100%;
    height: 230px;
    background-color: #dcdcdc;
    justify-content: center;
}

.area_980px {
    width: 980px;
    align-items: center;
}

.header980px a {
    text-decoration: none;
    color: #777777;
}

.header_contacts {
    flex-direction: column;
    margin-left: auto;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header_contacts .feedback{
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.025em;
    color: #767676;
    align-self: flex-end;
    border-bottom: 2px dashed black;
}

.header_company_name {
    margin: 10px 0 10px 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_company_name h2 {
    font-weight: bold;
    font-size: 40px;
}

/*MENU*/
.menu {
    color: #dcdcdc;
    width: 100%;
    background-color: #777777;
    display: flex;
    justify-content: center;
}

.menu980px {
    display: flex;
    width: 980px;
    min-height: 80px;
    justify-content: center;
    align-items: center;

}

.navigation {
    font-size: 30px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    color: #dcdcdc;
    font-family: 'PT Sans', sans-serif;
}

.navigation a:hover {
    border-bottom: 2px solid #dcdcdc;
}

.seperator {
    font-weight: 600;
    margin: 0 20px;
}

/*SLIDER*/
.slider{
    /* display: flex; */
    width: 980px;
    margin-top: -30px;
    position: relative;
    z-index: -1;
    margin-left: 500px;
}

.slider-block{
    display: flex;
    justify-content: center;
    width: 980px;
}

/*BREADCRUMBS*/
.breadcumbs {
    padding: 15px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.breadcrumbs980px {
    width: 980px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    color: #777777;
}

.breadcrumbs980px p a {
    color: #777777;
}

.breadcrumbs980px p span {
    margin: 0 6 px;
}

/*CONTENT*/
.content {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    color: #777777;

}

.content_980px {
    width: 980px;
    display: flex;
    justify-content: space-between;
}

/*SIDEBAR*/
.content_sidebar {
    width: 180px;
    font-size: 1 8px;
    line-height: 30px;
    height: 500px;
    background-color: #ffffff;
    color: #767676;
    font-family: 'PT Sans', sans-serif;
}

.content_sidebar ul {
    margin-bottom: 100px;
}

.sidebar_bottom_part {
    margin-left: 30px;
}

.sidebar_price_list {
    font-size: 30px;
    font-weight: 700;
    color: #444444;
}

/*SIDEBAR BURGER MENU*/
.nav{
    display: flex;
    flex-direction: column;
}

.menu_item{
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.submenu{
    font-size: 14px;
}

.menu_item .submenu{
    height: 40px;
    width: 180px;
    position: absolute;
    display: none;
    margin-left: 8px;
}

.middle_dot{
    font-size: 30px;
}

.menu_item:hover .submenu{
    display: block;
}

.menu_item:hover{
    margin-bottom: 120px;
}

/*ITEMS FOR SALE*/
.content_items_4_sale {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.item_4_sale {
    width: 250px;
    height: 385px;
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item_description {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}

.item_price {
    font-size: 28px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #444444;
}

.item_4_sale_margin {
    margin: 20px;
}

.item_4_sale img {
    margin-bottom: 0;
}

.item_4sale_bottom_part {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

/*PAGER*/
.content_pager {
    padding-left: 35px;
    display: flex;
    justify-content: center;
}

.content_pager a {
    margin: 33px 0 66px 0;
    letter-spacing: 20px;
    text-decoration: none;
    color: #444444;
    font-size: 14px;
}

.content_pager a:active {
    font-size: 18px;
}

/*HORIZONTAL LINE*/
.br {
    width: 100%;
    height: 1px;
    background-color: #3b3b3b;
}


/*BOTTOM ARTICLES*/
.content_bottom_articles {
    margin: 30px 0 200px 0;
    display: flex;
    justify-content: space-between;
}

.content_bottom_left_and_right_articles {
    width: 370px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676;
}


/*FOOTER*/
.footer {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 220px;
    color: #eaeaea;
    background-color: #767676;
    display: flex;
    justify-content: center;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
}

.footer980px {
    width: 980px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer_central_element ul li {
    margin-bottom: 5px;
}

.footer_right_element {
    display: flex;
    justify-items: flex-start;
}

.footer_right_element img {
    margin-right: 10px;
}

.footer_link a {
    color: #eaeaea;
}